<% include header %>

  <h1><%=title %></h1>
  <% for(var i=0;i<deps.length;i++){ %>
  	<form action="/<%=nameDeps[i]%>/devices" method="post" >
  		<input value="<%=deps[i]%>" name="dep" type="hidden"/>
  		<input value="<%=nameDeps[i]%>" name="nDep" type="hidden"/>
  		<button type="submit"><%=nameDeps[i]%></button>
  	</form>
  	<%}%>

<% include footer %>