<% include header %>

  <h1><%=title %></h1>
  <h2>Systems with its subsystems</h2>
  <% for(var i=0;i<sys.length;i++){ %>
    <h3>System</h3>
    <% for(var j=0;j<subsystems[i].length;j++){ %>
      <form action="/<%=nameDep%>/<%=typeSubs[i][j]%>/observations" method="post">
        <input value="<%=subsystems[i][j]%>" name="devf" type="hidden"/>
        <input value="<%=sys[i]%>" name="sys" type="hidden"/>
        <input value="<%=endSubs[i][j]%>" name="endp" type="hidden"/>
        <!--<input type="date" name="dateMin">
        <input type="date" name="dateMax">-->
        <button type="submit"><%=typeSubs[i][j]%></button>
      </form>
    <%}%>
  <%}%>
  <h2>Devices without any System</h2>
  <% for(var i=0;i<devices.length;i++){ %>
  	<form action="/<%=nameDep%>/<%=typeDev[i]%>/observations" method="post" >
  		<input value="<%=devices[i]%>" name="devf" type="hidden"/>
      <input value="<%=endpoints[i]%>" name="endp" type="hidden"/>
  		<!--<input type="date" name="dateMin">
  		<input type="date" name="dateMax">-->
  		<button type="submit"><%=typeDev[i]%></button>
  	</form>
  <%}%>
  	
<% include footer %>