<% include header %>
</head>
<body>
<% include loader %>
<% include navbar %>
<main role="main" class="container">
  <div class="bd-callout bd-callout-success">
		<h2><%=title %></h2>
	</div>
  <ul class="list-group">
		<li class="list-group-item active">
			<h3 style="margin-bottom: 0px">List Name <strong><%=listName%> </strong><span class="badge badge-dark badge-pill"><%=devices.length%></span></h3>
		</li>
  	<%for(var i=0;i<devices.length;i++){%>
			<li class="list-group-item">Device <strong><%=types[i]%></strong></li>
		<%}%>
  </ul>

  <div class="row">
    <form action="/<%=nameDep%>/readMongoDevices" method="post" >
      <input value="<%=ulrDep%>" name="dep" type="hidden"/>
      <input value="<%=nameDep%>" name="nDep" type="hidden"/>
      <input value="<%=preUrl%>" name="preUrl" type="hidden"/>
      <button class="btn btn-dark" type="submit">Back</button>
    </form>
  </div>
</main>
<% include footer %>
<% include scripts %>
</body>
</html>