<% include header %>

  <h1><%=title %></h1>
  	<div>
      <p><span>Valor: <%=measure%></span><span><%=unit%></span></p>
      <p>Tipo de medida: <%=qk%></p>
      <p>Fecha: <%=date%></p>
      <p>Latitud: <%=lat%></p>
      <p>Longitud: <%=long%></p>
    </div>

  	
<% include footer %>