<% include header %>
</head>
<body>
<% include loader %>
<% include navbar %>
<main role="main" class="container">
  <h1><%=title %></h1>
  	<div>
	  	<div style="width: 50%; float:left">
	  		<h3>Tipo de medida: <strong><%=qk%></strong></h3>
	    	<p><span>Valor: <strong><%=measure%></strong> </span><span><%=unit%></span></p> 
	    	<p>Medido el: <strong><%=date%></strong></p>
	    	<p>Latitud: <strong><%=lat%></strong></p>
	    	<p>Longitud: <strong><%=long%></strong></p>
		</div>
		
		<%if(lat!="" && long!=""){%>
		<div style="height: 400px;width: 50%;" id="map"></div>
		<%}%>
	</div>
	<%if(endp!="NODATA"){%>
	    <h3>Do you want to know when it reaches certain values?</h3>
	    <form action="/<%=nameDep%>/<%=tDev%>/scheduled" method="post">
	    	
	    	<h4>Condition</h4>
	    	<small id="conditionHelp" class="form-text text-muted">If you leave the fields below empty we will send you the last measurement</small>
	    	<div class="form-row">
			    <div class="form-group col">
			      <label for="min">Min. Value</label>
			      <input type="number" class="form-control" id="min" name="min" placeholder="Minimun" step="0.0001">
			    </div>
			    <div class="form-group col">
			      <label for="max">Max. Value</label>
			      <input type="number" class="form-control" id="max" name="max" placeholder="Maximum" step="0.0001">
			    </div>
			  </div>

			  <h4>Action</h4>	
				<div class="form-row">
				  <div class="form-group col">
				    <label for="email" class="custom-control custom-checkbox">
				      <input checked disabled type="checkbox" class="custom-control-input" name="action">
				      <span class="custom-control-indicator"></span>
				      <span class="custom-control-description">Send Email</span>
				    </label>
				    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
			  	</div>

			  </div>
				
				<input value="<%=endp%>" name="endp" type="hidden"/>

	      <button type="submit" class="btn btn-dark">Schedule Notification</button>

	    </form>
	<%}%>
</main>
	<% include footer %>
	<% include scripts%>
	<%if(lat!="" && long!=""){%>
  	<script>  
	    function initMap() {
	        var LatLong = new google.maps.LatLng(<%=lat%>,<%=long%>);
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 17,
	          center: LatLong,
	          zoomControl: true,
	          scaleControl: true
	        });
	        var marker = new google.maps.Marker({
	          position: LatLong,
	        });
	        marker.setMap(map);
	      }
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=APIKeyGMJS%>&callback=initMap"></script>
	<%}%>


</body>
</html>