<% include header %>
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="/dist/DataTables/datatables.min.css"/>
</head>
<body>
<% include loader %>
<% include navbar %>
<main role="main" class="container-fluid">
  <h2 class="text-center"><%=listName%></h2>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <%if(data.type.length!=0){%>
        <table cellpadding="0" cellspacing="0" border="2" class="table table-striped table-bordered" id="tabla1">
          <thead>
            <tr>
              <th>Device</th>
              <th>Type of Device</th>
              <th>Quantity Kind</th>
              <th>Last Value</th>
              <th>Units</th>
              <th>Search</th>
            </tr>
          </thead>
          <tbody>
          <% for(var i=0;i<devices.length;i++){ %>
          <tr>
            <td><%=i+1 %></td>
            <td class="type"><%=data.type[i]%></td>
            <td class="qk" id="qk<%=i%>"><%=data.qk[i]%></td>
            <td class="num" id="num<%=i%>"><% if(data.value[i]=="NODATA"){data.value[i]="--"}%><%=data.value[i]%></td>
            <td class="unit" id="unit<%=i%>"><%=data.unit[i]%></td>
            <td>
              <%if(false/*data.endp[i]!="--"*/){%>
                <form action="/<%=data.nameDep[i]%>/<%=data.type[i]%>/endpoint" method="post">
                  <input value="<%=devices[i]%>" name="devf" type="hidden"/>
                  <input value="<%=data.endp[i]%>" name="endp" type="hidden"/>
                  <input value="<%=data.qk[i]%>" name="qk" type="hidden"/>
                  <input value="<%=data.unit[i]%>" name="unit" type="hidden"/>
                  <input type="hidden" name="dep" value="<%=data.Dep[i]%>">
                  <button class="btn btn-link btn-block" type="submit">Endpoint</button>
                </form>
                <hr class="button"> 
              <%}%>
              <form action="/<%=data.nameDep[i]%>/<%=data.type[i]%>/observations" method="post">
                <input value="<%=devices[i]%>" name="devobs" type="hidden"/>
                <input readonly name="dateMin" type="hidden"/>
                <input readonly name="dateMax" type="hidden"/>
                <input value="<%=data.qk[i]%>" name="qk" type="hidden"/>
                <input value="<%=data.unit[i]%>" name="unit" type="hidden"/>
                <input type="hidden" name="dep" value="<%=data.Dep[i]%>">
                <button class="btn btn-link btn-block" type="submit">Schedule Notice</button>
              </form>
            </td>
          </tr>
          <%}%>
        </tbody>        
        </table>
      <%}%>
      <%if(data.type.length==0){%>
        <h4 class="text-center">We have not obtained any response from FIESTA IoT</h4>
      <%}%>
    </div>
  </div>
  <%if(data.pos.length!=0||data.pos!=undefined){%>
    <%if(data.pos[0]!="--"){%>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="text-center">Map</h3>
          <div style="height: 400px;width: 100%;" id="map"></div>
        </div>
      </div>
    <%}%>
  <%}%>
</main>
<% include footer %>
<% include scripts %>
<!-- DataTables JavaScript -->
  <script type="text/javascript" src="/dist/DataTables/datatables.min.js"></script>
  <script>
    $(document).ready(function(){
      var t1 = $("#tabla1").DataTable({
        responsive: true,
        dom: 'lfrtipB',
        buttons: [
          /*'copy',*/ 
          'excel', 
          'pdf',
          //'colvis',
        ],
        select:true,
        "language": {
          "paginate": {
            "previous": "<",
            "next":">"
          }
        },
        "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]]
      });
      $('.add-devices').popover('toggle');        
      $(".dt-buttons .btn").each(function(e){
          $(this).removeClass("btn-secondary");
          $(this).addClass("btn-light");
      });
    });
  </script>
  <%if(data.pos.length!=0){%>
  <script>
    //$(document).ready(function(){
      var lat="NODATA";
      var long="NODATA";
      //var pos ="NODATA";
      <%if(data.pos[0]!="--"){%>
        lat = <%=data.pos[0].lat%>;
        long = <%=data.pos[0].long%>;
      <%}%>

      function initMap() {
        if(lat=="NODATA"||long=="NODATA"){
          lat=0;
          long=0;
        }
        else{
          var LatLong = new google.maps.LatLng(lat, long);
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: LatLong,
            zoomControl: true,
            scaleControl: true
          });
        }
        <%var count=0;%>
        <% if(data.pos.length!=0){%>
        <% for(var i=0;i<data.pos.length;i++){ %>
            <% if(data.pos[i]!="--"){%>
              var LatLong<%=i%> = new google.maps.LatLng(<%=data.pos[i].lat%>,<%=data.pos[i].long%>);
              var marker<%=i%> = new google.maps.Marker({
                position: LatLong<%=i%>,
              });
            marker<%=i%>.setMap(map);
            <%count++;%>
            <%}%>
          <%}%>
        <%}%>
      }
    //});
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=APIKeyGMJS%>&callback=initMap"></script>
  <%}%>
</body>
</html>