<% include header %>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/dist/DataTables/datatables.min.css"/>
</head>
<body>
  <% include navbar %>
  <main role="main" class="container-fluid">
    <h1 class="text-center">Device <%=tDev%></h1>
    <hr>
    <!--<div class="row">
      <div class="col">
      <h4 class="text-center">Observations</h4>
        <table cellpadding="0" cellspacing="0" border="2" class="data table table-striped table-bordered" id="tabla1">
          <thead>
            <tr>
              <th>Date</th>
              <th>Value</th>
              <th>Units</th>
            </tr>
          </thead>
          <tbody>
          <% for(var i=0;i<obs.length;i++){ %>
            <tr>
              <td class="date" id="date<%=i%>"><%=timeObs[i]%></td>
              <td class="value" id="value<%=i%>"><%=measures[i]%></td>
              <td class="unit" id="unit<%=i%>"><%=units[i]%></td>
            </tr>
          <%}%>
        </tbody>        
        </table>
      </div>
      <div class="col">
        <h4 class="text-center">Map</h3>
        <div class="container-fluid">
          <div style="margin-top: 25%; height: 50%; width: 100%;" id="map"></div>
        </div>
      </div>
    </div>-->

    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Do you want to know when it reaches certain values?</h3>
        <h5 id="conditionHelp" class="form-text text-muted text-center">If you leave the fields below empty we will send you the last measurement</h5>
        <form action="/<%=nameDep%>/<%=tDev%>/scheduled" method="post">   
          <h4>Condition</h4>
          <div class="form-row">
            <div class="form-group col">
              <label for="min" class="form-label">Min Value</label>
              <input type="number" class="form-control" id="min" name="min" step="0.0001">
            </div>
            <div class="form-group col">
              <label for="max" class="form-label">Max Value</label>
              <input type="number" class="form-control" id="max" name="max" step="0.0001">
            </div>
          </div>

          <h4>Action</h4> 
          <div class="form-row">
            <div class="form-group col">
              <label class="custom-control custom-checkbox disabled">
                <input checked disabled type="checkbox" class="custom-control-input" name="action">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Send Email</span>
              </label>
            </div>
            <div class="form-group col">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
          </div>

          <input value="<%=dev%>" name="dev" type="hidden"/>
          <button style="float:right;" type="submit" class="btn btn-dark">Schedule Notice</button>
        </form>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <form action="/<%=nameDep%>/readMongoDevices" method="post">
          <input value="<%=ulrDep%>" name="dep" type="hidden"/>
          <input value="<%=nameDep%>" name="nDep" type="hidden"/>
          <input value="<%=preUrl%>" name="preUrl" type="hidden"/>
          <button class="btn btn-dark" type="submit">Back</button>
        </form>
      </div>
    </div>
  </main>
  <% include footer %>
  <% include scripts %>

  <script>
    $(document).ready(function(){
      $(".form-group label").removeClass("active");
      $(".form-group .form-control").focusin(function(e){
        $(e.this).parent().find("label.form-label").addClass("active");
      });
      $(".form-group .form-control").focusout(function(e){
        if($(e.target).value!=""){
          console.log("valor");
        }
        else{
          $(e.target).removeClass("active");
        }
        
      });

    });
  </script>
  <!-- DataTables JavaScript -->
  <script type="text/javascript" src="/dist/DataTables/datatables.min.js"></script>
  <script>
    $(document).ready(function(){
      var t1 = $("#tabla1").DataTable({
        responsive: true,
        dom: 'lfrtipB',
        buttons: [
          /*'copy',*/ 
          'excel', 
          'pdf',
          //'colvis',
        ],
        select:true,
        "language": {
          "paginate": {
            "previous": "<",
            "next":">"
          }
        },
        "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]]
      });
    
      $('.add-devices').popover('toggle');        
      $(".dt-buttons .btn").each(function(e){
          $(this).removeClass("btn-secondary");
          $(this).addClass("btn-light");
      });
    });
  </script>
  <%if(pos.lat!=""||pos.long!=""){%>
    <script>
        function initMap() {
          var LatLong = new google.maps.LatLng(<%=pos.lat%>, <%=pos.long%>);
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: LatLong,
            zoomControl: true,
            scaleControl: true
          });

          var LatLong = new google.maps.LatLng(<%=pos.lat%>, <%=pos.long%>);
          var marker = new google.maps.Marker({position: LatLong,});
          marker.setMap(map);
        }
      //});
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=APIKeyGMJS%>&callback=initMap"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $("#map").outerHeight($(".data").outerHeight());
      var mh4 = $("#map").parent().parent().find("h4").css("margin-bottom");
      $("#map").css("margin-top",$(".dataTables_length").outerHeight()+Number(mh4.substring(0,mh4.length-2))+"px");
    });
  </script>
  <%}%>
</body>
</html>