<% include header %>
</head>
<body>
<% include loader %>
<% include navbar %>
<main role="main" class="container">
  <h1><%=title %></h1>
	<p>Tipo de dispositivo: <strong><%=tDev%></strong></p> 
	<p>Endpoint: <strong><%=endp%></strong></p>
	<p>Valor mínimo incluido: <strong><%=min%></strong></p>
    <p>Valor máximo incluido: <strong><%=max%></strong></p>
    <p>Accion: <strong><%=action%></strong>
	<p>Correo: <strong><%=email%></strong></p>
</main>
<% include footer %>
<% include scripts %>
</body>
</html>